<header class='shadow-md bg-white font-sans tracking-wide relative z-50'>


  <div class='flex flex-wrap py-3.5 px-10 overflow-x-auto'>

    <div id="collapseMenu"
      class='w-full max-lg:hidden lg:!block max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
      <ul
        class='lg:flex lg:justify-center lg:gap-x-10 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>

        <li class='max-lg:border-b max-lg:py-3'> <a href="javascript:void(0)"><img src="../../assets/logo_hospital.jpg"
              alt="logo" class='md:w-[170px] w-36' />
          </a></li>


      </ul>
    </div>

  </div>
</header>